<div class="inner-view" ng-controller="investriteCtrl">
    <div class="container">
            <div class="limiter">
                    <div class="container-login100">
                        <div class="wrap-login100">
                            <form class="login100-form validate-form" id="investrite-form">
                                <span class="login100-form-title p-b-26">
                                    Investrite
                                </span>
                                <span class="login100-form-title p-b-48">
                                    <i class="fa fa-user"></i>
                                </span>
                                    
                                <div class="wrap-input100 validate-input" data-validate = "Valid username is: a@b.c">
                                    <input class="input100 investrite" type="text" name="username" ng-model="username" id="username" placeholder="Username">
                                </div>
            
                                <div class="wrap-input100 validate-input" data-validate="Enter password">
                                    <span class="btn-show-pass">
                                        <i class=""></i>
                                    </span>
                                    <input class="input100 investrite" type="password" name="password" ng-model="password" id="password" placeholder="Password">
                                </div>
            
                                <div class="container-login100-form-btn">
                                    <div class="wrap-login100-form-btn">
                                        <div class="login100-form-bgbtn"></div>
                                        <button class="login100-form-btn" type="button" ng-click="login()">
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
</div>