<div class="inner-view" ng-controller="addFixedCtrl">
        <div class="container">
            <h4>Add Fixed</h4>
            <div class="single-form"  ng-show="account_no">
                <label>Customer Account No</label>
                <input type="number" ng-model="fixed.account_no">
    
                <div class="btn-div"><button ng-click="continue()" class="btn-primary right" >Next <i class="fa fa-chevron-right"></i></button></div>
            </div>

            <div class="fixed-details" ng-show="fixed_details">
                <div class="btn-div"><button ng-click="back()" class="btn-primary"><i class="fa fa-chevron-left"></i> Back</button></div>
                <h5>Fixed Deposit Parameters</h5>
                <label>Deposit Channel</label>
                <select ng-model="fixed.channel">
                    <option value="savings" selected="selected">Savings Account</option>
                    <option value="transfer">Transfer</option>
                    <option value="cheque">Cheque</option>
                    <option value="cash">Cash</option>
                </select>  
                <label>Amount</label>
                <input type="text" ng-model="fixed.amount">
                <label>Rate</label>
                <input type="text" ng-model="fixed.rate">
                <label>Start Date (yyyy-mm-dd)</label>
                <input type="text" ng-model="fixed.start_date" placeholder="yyyy-mm-dd" class="datepicker">
                <label>Number of Days</label>
                <input type="text" ng-model="fixed.date_no" placeholder="Number of days">
                
                <div class="btn-div"><button ng-click="submit()" class="btn-primary right" ><i class="fa fa-check-square-o"></i> Submit</button></div>
            </div>
        </div>

        
    <script type="text/javascript">
        $(function() {
                $(".datepicker").datepicker({ dateFormat: "yy-mm-dd" }).val()
        });
    </script>
    </div>