<div class="inner-view" ng-controller="withdrawCtrl">
        <div class="container">
            <h4>Make Withdrawal</h4>
            <div class="account-no single-form"  ng-show="account_no">
                <label>Customer Account No</label>
                <input type="number" ng-model="withdraw.account_no">
    
                <div class="btn-div"><button ng-click="continue()" class="btn-primary right" >Next <i class="fa fa-chevron-right"></i></button></div>
            </div>

            <div class="withdraw-details" ng-show="withdraw_details">
                    <div class="btn-div"><button ng-click="back()" class="btn-primary"><i class="fa fa-chevron-left"></i> Back</button></div>
                <h5>Savings Account Details</h5>
                <p>Account No: <span>{{customer.account_no}}</span></p>
                <p>Account Name: <span>{{customer.bio_data.surname}} {{customer.bio_data.first_name}}</span></p>
                <p>Account Balance: <span>&#8358; {{savings.balance | number}}</span></p>
                <label>Withdrawal Channel</label>
                <select ng-model="withdraw.channel">
                    <option value="transfer">Transfer</option>
                    <option value="cheque">Cheque</option>
                    <option value="cash">Cash</option>
                </select>  
                <label>Amount</label>
                <input type="text" ng-model="withdraw.amount">
                
                <div class="btn-div"><button ng-click="submit()" class="btn-primary right" ><i class="fa fa-check-square-o"></i> Submit</button></div>
            </div>
        </div>
    </div>