<div class="work-summary">
    <h4 class="home-head">Central Management Unit: <span>{{summary.date | moment: 'format':'MMMM Do YYYY'}}</span></h4>
    <div class="summary-box customer">
        <div>
            <span class="value">{{summary.customer | number}}</span><span class="tip">Total Customers</span>
        </div>
    </div>
    <div class="summary-box approved">
            <div>
                <span class="value">&#8358;{{summary.balance | number}}</span><span class="tip">Total Balance</span>
            </div>
    </div>
    <div class="summary-box approved">
        <div>
            <span class="value">&#8358;{{summary.debit_balance | number}}</span><span class="tip">Debit Balance</span>
        </div>
    </div>
</div>
<div class="icon-menu">
            <div class="main-menu-icon" ng-click="iconMenu('/customer/central/list')">
                <i class="fa fa-users"></i>
                <p>Customers</p>
            </div>
            <div class="main-menu-icon" ng-click="iconMenu('transaction/central/list')">
                <i class="fa fa-history"></i>
                <p>Transaction History</p>
            </div>
                <div class="main-menu-icon" ng-click="iconMenu('report/central/detailed')">
                    <i class="fa fa-line-chart"></i>
                    <p>Reports</p>
                </div>
    </div>
</div>