<div class="menu-item">
        <button class="drop-btn">Customers <i class="fa fa-caret-down"></i></button>
        <div class="menu-sub-item">
            <ul>
                <li ng-click="dropDownMenuAction('/customer/central/list')"><i class="fa fa-eye"></i> View</li>
                <li><input ng-model="search.central_customer" value="" placeholder="keyword"> <i ng-click="dropSearch('customer')" class="btn-primary fa fa-search menu"></i></li>
            </ul>
        </div>
    </div>
    <div class="menu-item">
            <button class="drop-btn">Savings Account <i class="fa fa-caret-down"></i></button>
            <div class="menu-sub-item">
                <ul>
                    <li ng-click="dropDownMenuAction('/savings/central/list')"><i class="fa fa-eye"></i> View</li>
                    <li><input ng-model="search.central_savings" value="" placeholder="Account No."> <i  ng-click="dropSearch('savings')" class="btn-primary fa fa-search menu"></i></li>
                </ul>
            </div>
        </div>
    <div class="menu-item">
        <button class="drop-btn">Transactions <i class="fa fa-caret-down"></i></button>
        <div class="menu-sub-item">
            <ul>
                <li ng-click="dropDownMenuAction('/transaction/central/list')"><i class="fa fa-history"></i> History</li>
                <li><input ng-model="search.central_transaction" value="" placeholder="Reference Id"> <i ng-click="dropSearch('transaction')" class="btn-primary fa fa-search menu"></i></li>
            </ul>
        </div>
    </div>
    <div class="menu-item">
        <button class="drop-btn">General Reports <i class="fa fa-caret-down"></i></button>
        <div class="menu-sub-item">
            <ul>
                <li ng-click="dropDownMenuAction('/report/daily')"><i class="fa fa-calendar"></i> Daily Report</li>
                <li ng-click="dropDownMenuAction('/report/central/detailed')"><i class="fa fa-line-chart"></i> Detailed Report</li>
                <li ng-click="dropDownMenuAction('/report/central/graph')"><i class="fa fa-pie-chart"></i> Graphical Report</li>
            </ul>
        </div>
    </div>