<div class="menu-item">
        <button class="drop-btn">Customers <i class="fa fa-caret-down"></i></button>
        <div class="menu-sub-item">
            <ul>
                <li>View</li>
                <li>Search Customer</li>
            </ul>
        </div>
    </div>
    <div class="menu-item">
        <button class="drop-btn">Transactions <i class="fa fa-caret-down"></i></button>
        <div class="menu-sub-item">
            <ul>
                <li>History</li>
                <li>Today's History</li>
                <li>Search Transaction</li>
            </ul>
        </div>
    </div>
    <div class="menu-item">
        <button class="drop-btn">General Reports <i class="fa fa-caret-down"></i></button>
        <div class="menu-sub-item">
            <ul>
                <li>Detailed Report</li>
                <li>Graphical Summary</li>
            </ul>
        </div>
    </div>