<div class="inner-view" ng-controller="profileCtrl">
    <div class="container">
        <h4>User Profile</h4>
        <div class="password">
            <h5>Change Password</h5>
            <label>Old Password</label>
            <input type="password" ng-model="pwd.old">
            <label>New Password</label>
            <input type="password" ng-model="pwd.new">
            <label>Verify New Password</label>
            <input type="password" ng-model="verify_pwd">
            <div class="btn-div"><button ng-click="update()" class="btn-primary" ><i class="fa fa-save"></i> Change Password</button></div>
        </div>
        <hr>
        <div class="editables">
                <div class="view-content">
                        <form id="add-user">
                            <div class="form-set">
                                <label>Username</label>
                                <input type="text" name="username" ng-model="data.username" value="" disabled>
                            </div>
                            <div class="form-set">
                                <label>Email</label>
                                <input type="email" name="email" ng-model="data.email" value="" disabled>
                            </div>
                            <div class="form-set">
                                <label>First Name</label>
                                <input type="text" name="first_name" ng-model="data.first_name" value="" disabled>
                            </div>
                            <div class="form-set">
                                <label>Last Name</label>
                                <input type="text" name="last_name" ng-model="data.last_name" value="" disabled>
                            </div>
                            <div class="form-set">
                                <label>Phone Number</label>
                                <input type="text" name="phone_number" ng-model="data.phone_number" value="" disabled>
                            </div>
                            <div class="form-set">
                                <label>Display Name</label>
                                <input type="text" name="display_name" ng-model="data.display_name" value="" disabled>
                            </div>
                            <div class="form-set">
                                <label>User Type</label>
                                <select name="user_type" ng-model="data.user_type" disabled>
                                    <option value="admin" ng-selected="data.user_type == 'admin'">Admin</option>
                                    <option value="manager" ng-selected="data.user_type == 'manager'">Manager</option>
                                    <option value="customer_support" ng-selected="data.user_type == 'customer_support'">Customer Support</option>
                                </select>
                            </div>
                        </form>
                    </div>
        </div>
    </div>
</div>