<div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><i class=" fa-check-square-o"></i></strong> <span id="success-msg"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="alert alert-warning alert-dismissible fade" role="alert">
        <strong><i class=" fa-check-square-o"></i></strong> <span class="warning-msg"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="alert alert-danger alert-dismissible fade" role="alert">
        <strong><i class=" fa-check-square-o"></i></strong> <span class="danger-msg"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>