<div class="inner-view" ng-controller="editInvestmentCtrl">
    <div class="container">
        <h4 class="section-head">Edit Investment class</h4>
        <div class="view-content">
            <form id="add-user">
                <input type="hidden" name="id" ng-model="data.id" value="" required>
                <div class="form-set">
                    <label>Class Name</label>
                    <input type="text" name="class_name" ng-model="data.class_name" value="" required>
                </div>
                <div class="form-set">
                    <label>Class Type</label>
                    <select name="class_type" ng-model="data.class_type">
                        <option value="fixed" ng-selected="data.class_type == 'fixed'">Fixed Deposit</option>
                        <option value="target" ng-selected="data.class_type == 'target'">Target Savings</option>
                    </select>
                </div>
                <div class="form-set">
                    <label>Duration (in days)</label>
                    <input type="text" name="duration" ng-model="data.duration" value="" required>
                </div>
                <div class="form-set">
                    <label>Minimun Amount</label>
                    <input type="text" name="min_amount" ng-model="data.min_amount" value="" required>
                </div>
                <div class="form-set">
                    <label>Interest Rate (max=100%)</label>
                    <input type="text" name="interest_rate" ng-model="data.interest_rate" value="" required>
                </div>
                <div class="form-set">
                    <label>Penalty Charge (max=100%)</label>
                    <input type="text" name="penalty_charge" ng-model="data.penalty_charge" value="" required>
                </div>
                <div class="btn-div"><button ng-click="update()" class="btn-primary" ><i class="fa fa-check"></i> Update</button></div>
            </form>
        </div>
    </div>
</div>